/* font-family: 'Pacifico', cursive; */
@import url('https://fonts.googleapis.com/css?family=Pacifico');
.logo {

    font-family: 'Pacifico', cursive;
    font-size:  400%;
    
}

.pauseFont {

    font-family: 'Pacifico', cursive;
  
}
.logonav {

    font-family: 'Pacifico', cursive;
    font-size:  150%;
    
}
body {
    background-color: #eee;
  }

.topmax {
    margin-top: 15%
}
.topmed {
    margin-top: 4.5%
}
.topmin{
    margin-top: 3%;
}
.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute !important;
}
.topmed h2 {
    margin-bottom: 4.5%
}
.logonav.text-baseline {
    width: 100%;
    margin-top: 15px;
}
.mrg-left-small {
    margin-left: 10px;
}
button.mrg-left-small {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}